body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    width: 80%;
    max-width: 900px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    align-items: center;
}

h2{
    text-align: center;
    margin-bottom: 10px;
    color: #2c3e50;
}

p{
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

th, td {
    border: 1px solid #e0e0e0;
    padding: 14px 18px;
    text-align: center;
}

thead {
    background-color: #5d5656;
    color: #ffffff;
}

th {
    cursor: pointer;
    user-select: none;
    position: relative;
    font-weight: 600;
}